NEXT_PUBLIC_SUPABASE_URL=https://hnnhlmemiicfrjhwwvni.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhubmhsbWVtaWljZnJqaHd3dm5pIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2ODE5NDM1NiwiZXhwIjoyMDgzNzcwMzU2fQ.rqtjsMq9hwq1TcfqJcjpChNYrvmInj5tD_hF7wl-fmM

# Not used in the server-only setup:
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhubmhsbWVtaWljZnJqaHd3dm5pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgxOTQzNTYsImV4cCI6MjA4Mzc3MDM1Nn0.EZMxITvqnsl7g0Qa0-WFXvI9fQpwnTHGl6Ov0qLOHr4
